.banner{
    text-align: center;
    background-color: #F5F5F5;
    padding: 60px 20px;
    margin-top: 80px;
}
.banner-header{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 3.2rem;
}
.banner-description{
    color: #666666;
    font-size: 20px;
}