.navbar{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    padding: 20px ;
    border-bottom: 1px solid #F2F2F2;
}
.logo h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.logo-img{
    width: 40px;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    @media (max-width: 573px) {
        /* z-index: 99; */
        position: absolute;
        display: block;
        gap: 30px;
        top: 80px;
        left: 0;
        right: 0;
        padding: 0 10px 20px 10px;
        margin-top: 0;
        border-bottom: 1.5px solid #F2F2F2;
        display: none;
        background-color: #F2F2F2;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        transform: translateY(-10px);
        transition: max-height 0.9s ease-in-out, opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
        z-index: 1000;
    }
}
.link{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: black;
    
     @media (max-width: 573px) {
        margin-top: 10px;
        padding: 10px 10px;
     }
}
.link:hover{
    color: #D4AF37;
    @media (max-width: 573px) {
        background-color: rgb(240, 240, 240);
        width: 100%;
        
        border-radius: 3px;
    }
}
.cart{
    border: 1.5px solid #F2F2F2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}
.cart:hover{
    background-color: #F2F2F2;
}
.nav-icons{
    display: flex;
    gap: 15px;
    align-items: center;
}
.ham{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: none;
    cursor: pointer;
    transition: 0.5s;
    @media (max-width: 573px) {
        display: flex;
    }
}
.ham:hover{
    background-color: #D4AF37;
}
.close{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: none;
}