.search-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.search{
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 5px;
    border: 1px solid #1E2939;
    padding: 10px;
    border-radius: 6px;
    width: 600px;
}
.search-input{
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 5px;
}
.search-input:focus{
    outline: none;
}