.team-header h3{
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    font-family: "Inter";
}
.team-header p{
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    font-family: "Inter";
    color: #666666;
}