.explore{
    background-color: #F5F5F5;
    padding: 90px 20px;
}
.explore-header{
    text-align: center;
}
.explore-title{
    font-weight: 400;
    font-size: 2.5rem;
}
.explore-subtitle{
    font-size: 16px;
    font-family: "Montserrat";
    color: #666666;
    font-weight: 500;
}
.explorecard-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 32px;
    margin-top: 40px;
}
.banner{
    height: 300px;
    overflow: hidden;
    margin-top: 100px;
    
}
.banner img{
    object-fit: cover;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 110px;
}
.ready{
    text-align: center;
    margin-top: 20px;
}
.ready h1{
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Montserrat';
}
.ready p{
    color: #666666;
    font-size: 18px;
    max-width: 600px;
    
}
.para{
    display: flex;
    justify-content: center;
}
.explore-btn{
    margin-top: 50px;
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}