.footer{
    background-color: black;
    padding: 40px 20px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    border-bottom: 1px solid #1E2939;
    padding: 30px 0;
}
.footer-logo img{
    width: 70px;
}
.footer-para{
    color: #666666;
    max-width: 290px;
}
.footer-title{
    font-size: 18px;
    font-size: 'Inter';
    color: #FFFFFF;
    font-weight: 400;
}
.footer-nav{
    list-style: none;
    
}
.footer-nav li{
    color: #666666;
}
.footer-contact-item{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}
.footer-contact-item .text{
    color: #666666;
}
.footer-hour{
    color: #666666;
}